@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Poppins:wght@300;400&family=Raleway:wght@200;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1D202B;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.contenedor {
    width: 100vw;
    height: 100vh;
    max-width: 1400px;
    margin: auto;
    padding: 40px 0;
    display: flex;
    gap: 20px;
}

.contenedor__cards{
    width: 100%;
    height: 100%;
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    
    align-items: center;
    justify-content: center;
}

.card{
    background-color: #3a3a3c;
    border-radius: 1rem;
    min-height: 200px;
    padding: 20px;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 4px 8px 0 #8a83835b;
    transition: 0.3s;
    height: auto;
    width: 40%;
}

.card:hover{
    box-shadow: 0 10px 6px 0 #c9c3c378;
    cursor: pointer;
}

.card .texto{
    margin-top: 8px;
    bottom: 0;
    height: 100%;
    width: 100%; 
    /*background-color: #4b4a47;*/
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

h3{
    font-family: 'Fascinate', cursive;
    font-size: 35px;
}

a {
    text-decoration: none; 
    color: #ffffff;
} 
p{
    margin-top: 6px;
}

img {
    border-radius: 1rem 1rem 0 0;
}

    
/* Add some padding inside the card container/
.container {
  padding: 2px 16px;
}*/
  

