@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #1D202B;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  max-width: 1400px;
  margin: auto;
  /*height: 20vh;*/
  padding: 40px 0;

  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contenedor__cards{
  width: 90%;
  height: 100%;

  display: flex; 
  flex-wrap: wrap;
  gap: 20px;

  align-items: center;
  justify-content: center;
}

.card{
  background-color: #57544f;
  border-radius: 1rem;
  min-height: 200px;
  padding: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 4px 8px 0 #8a83835b;
  transition: 0.3s;

  width: 23.8%;
}

.card:hover{
  box-shadow: 0 10px 6px 0 #dbd5d567;
  cursor: pointer;
}

.card .texto{
  margin-top: 8px;
  bottom: 0;
  height: 100%;
  width: 100%;
  
}

a {
  text-decoration: none; 
  color: #ffffff;
} 

img {
  border-radius: 1rem 1rem 0 0;
}

    
/* Add some padding inside the card container/
.container {
  padding: 2px 16px;
}*/
  

